 <link
      href="https://fonts.googleapis.com/css?family=Nunito&display=swap"
      rel="stylesheet"
    />
  <link rel="stylesheet" href="footer.css" type="text/css" />

     <footer>
      <div class="footer-container">
        <ul class="list-container">
          <li class="list-title"><a href="">Jobs</a></li>
          <ul class="list-links">
            <li><a href="">Software Engineer</a></li>
            <li><a href="">Frontend Engineer</a></li>
            <li><a href="">Codeable Graduate</a></li>
            <li><a href="">Backend Engineer</a></li>
            <li><a href="">Meme Master</a></li>
            <li><a href="">University Dropouts</a></li>
          </ul>
        </ul>
        <ul class="list-container">
          <li class="list-title"><a href="">Company</a></li>
          <ul class="list-links">
            <li><a href="">Blog</a></li>
            <li><a href="">Carreers</a></li>
            <li><a href="">Privacy</a></li>
            <li><a href="">About</a></li>
          </ul>
        </ul>
        <ul class="list-container">
          <li class="list-title"><a href="">Support</a></li>
          <ul class="list-links">
            <li><a href="">Docummentation</a></li>
            <li><a href="">Security</a></li>
            <li><a href="">Mobile Guide</a></li>
            <li><a href="">FAQs</a></li>
          </ul>
        </ul>
        <ul class="list-container">
          <li class="list-title"><a href="">Legal</a></li>
          <ul class="list-links">
            <li><a href="">Terms of Service</a></li>
            <li><a href="">Privacy Pilicy</a></li>
            <li><a href="">Cookie Informartion</a></li>
            <li><a href="">GDPR Commitment</a></li>
          </ul>
        </ul>
      </div>
      <div class="copyright">
        <p>&copy; 2020 Get The Job</p>
      </div>
    </footer>