<form  class="form-section" action="POST">
    <h2 class="form__title">Forgot Password</h2>
    <label class="form__label" for="email">Email</label>
    <input class="form__input" type="email" name="email" id="email" placeholder="youremail@email.com" required>
    <button class="general-button form__submit-button" ><a class="form__submit-link" href="#">Send recovery email</a></button>  
</form>
