<form  class="form-section" action="POST">
    <label class="form__label" for="email">Email</label>
    <input class="form__input" type="email" name="email" id="emaail" placeholder="youremail@email.com" required>
    <label class="form__label" for="pwd">Password</label>
    <input class="form__input" type="password" name="confirm-pwd" id="confirm-pwd" placeholder="********" required>
    <label class="form__label" for="pwd">Confirm Password</label>
    <input class="form__input" type="password" name="pwd" id="pwd" placeholder="********" required>
    <button class="general-button form__submit-button" ><a class="form__submit-link" href="job_listing.erb">Submit</a></button>    
</form>
