<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
</head>
<body>
    <section class="hero">
        <div class="hero-content">
            <div class="hero-text">
                <h1 class="hero-title">The place where 
                    you get that job</h1>
                <p class="hero-description">With our Machine learning algorithm you will get that job
                    in no time, We promise you! Just give us the money and we 
                    will take care of it.</p>
                <a class="hero-btn"href="#sign-up">Create your account now</a>

            </div>
            <img class="hero-img" src="images/image 1 (1).png" alt="">

        </div>
       
        
    </section>
    
</body>
</html>