
   
    <link
      href="https://fonts.googleapis.com/css?family=Overpass:300,400,600,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  
    <section class="testimonials">
      <img src="../images/girl-flowers.png" alt="Girl with flowers" />
      <div class="quote">
        <img src="../images/arrow-left.png" alt="" />
        <q
          >Amazing experience, I love it a lot. Thanks to the team I got that
          Job, great!</q
        >
        <img src="../images/arrow-right.png" alt="" />
      </div>
      <div class="legend">
        <p>Lassy Chester</p>
        <p>Art Director</p>
      </div>
    </section>
    <section class="contact">
      <div class="information">
        <span>Contacts</span>
        <h1>Get in Touch</h1>
        <h2>If you are not sure yet, shoot us a message!</h2>
        <div class="contact-data">
          <a href="mailto:hello@getthetjob.com">hello@getthetjob.com</a>
          <p>Jose Galvez 692, 7th Floor Board</p>
        </div>
      </div>
      <form class="contact-form">
        <input type="email" id="email" name="email" placeholder="Your email" />
        <input type="text" id="name" name="name" placeholder="Name" />
        <textarea
          name="message"
          id="message"
          cols="60"
          rows="10"
          placeholder="Messages"
        ></textarea>
        <button class="submit">
          <i class="fa fa-envelope" aria-hidden="true"></i>Submit Message
        </button>
      </form>
    </section>
