
   <a  class="joblist-link" href="jobdetail-section">
   <div class="job-list-items">
    <div class="job-item-description">
        <img class="joblist-company-logo" src="images/A 1.png" alt="Able logo">
        <div class="joblist-item">
            <div class="joblist-item-content">
                <h3 class="joblist-position-title">Software Engineer</h3>
                <span class="new-tag">NEW</span>
    
            </div>
            <div class="job-item-place">
                <h4 class="joblist-city">Able-Lima</h4>
                <img src="images/image 2 (1).png" alt="Peru flag">
    
            </div>
        </div>
    </div>

    <div class="job-item-tags">
        <img  class="dollar-symbol"src="images/Vector (3).png" alt="">
        <span class="react-tag">ReactJS</span>
        <span class="react-tag">ReactJs</span>
        <span class="joblist-date-tag">Today</span>
    </div>

   </div>
   
   </a>
   


    
    