 <div class="job-list-item">
            <div class="job-item-description">
                <img class="company-logo" src="images/A 1.png" alt="Able logo">
                <div class="job-item">
                    <div class="job-item-content">
                        <h3 class="position-title">Software Engineer</h3>
                        <span class="new-tag">NEW</span>
    
                    </div>
                    <div class="job-item-place">
                        <h4 class="job-city">Able-Lima</h4>
                        <img src="images/image 2 (1).png" alt="Peru flag">
    
                    </div>
                </div>
            </div>
            <div class="job-item-tags">
                <img src="images/Vector (3).png" alt="">
                <span class="react-tag">ReactJS</span>
                <span class="react-tag">ReactJs</span>
                <span class="date-tag">Today</span>
            </div>
        </div>
    
    