
    <section class="joblisting-menu">
            <div class="joblisting-menu-inputs">
                <div class="joblisting-input-search joblisting-menu-btn">
                    <img class="input-img" src="images/Vector (4).png" alt="">
                    <form>
                        <input  class="job-search" type="search" name="search" placeholder="Find that job!">
                    </form>
                </div>
                
                <div class="country-btn">
                    <button class="joblisting-menu-btn btn-filter">
                            Country
                           <img class="menu-arrow-down" src="images/Vector (5).png" alt="">
                    </button>
                    <ul class="country-list">
                        <li class="country-list-item">Peru</li>
                        <li class="country-list-item">Colombia</li>
                        <li class="country-list-item">Arequipa</li>
                    </ul>
                 </div>
                
                <div class="country-btn type-btn ">
                    <button class="joblisting-menu-btn  btn-filter">
                        Type
                        <img class="menu-arrow-down" src="images/Vector (5).png" alt="">
                    </button>
                    <ul class="country-list type-list">
                        <li class="country-list-item">Full-Time</li>
                        <li class="country-list-item">Part-Time</li>
                        <li class="country-list-item">Contract</li>
                        <li class="country-list-item">For Free</li>
                    </ul>
                </div>
                
                <div class=" country-btn salary-btn">
                    <button class="joblisting-menu-btn btn-filter">
                        Salary Range
                        <img class="menu-arrow-down" src="images/Vector (5).png" alt="">
                    </button>
                </div>
                
                <div class=" country-btn experience-btn ">
                    <button class="joblisting-menu-btn btn-filter">
                        Experience
                        <img class="menu-arrow-down" src="images/Vector (5).png" alt="">
                    </button>
                    <ul class="country-list experience-list">
                        <li class="country-list-item">No Experience</li>
                        <li class="country-list-item">Junior</li>
                        <li class="country-list-item">Semi Senior</li>
                        <li class="country-list-item">Senior</li>
                        <li class="country-list-item">Codeable Graduate</li>
                    </ul>
                </div>
                
    

                <div class="country-btn recommended-btn">
                    <div class="btn-filter recommended-filter">
                        Recommended 
                        <img class="menu-arrow-down2" src="images/Vector (5).png" alt="">
                    </div>
                    <ul class="country-list recommended-list">
                        <li class="country-list-item">Newest</li>
                        <li class="country-list-item">Highest Salary</li>
                        <li class="country-list-item">Lowest Salary</li>
                    </ul>
                </div>
            
            </div>
        
    </section>
    
    







