<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../styles/general.css" type="text/css">
  <link rel="stylesheet" href="../styles/navbar.css" type="text/css">
  <link rel="stylesheet" href="../styles/form.css" type="text/css">
  <link rel="stylesheet" href="../styles/forgot_password_success.css" type="text/css">
</head>
<body>
<!-- This will be on all pages -->
<%= erb :navbar %>
<%= yield %>
<%= erb :footer %>
</body>
