<form  class="form-section" action="POST">
    <h2 class="form__title">Login</h2>
    <label class="form__label" for="email">Email</label>
    <input class="form__input" type="email" name="email" id="emaail" placeholder="youremail@email.com" required>
    <label class="form__label"  for="pwd">Password</label>
    <input class="form__input" minlength="8" type="password" name="pwd" id="pwd" placeholder="********" required>
    <button class="general-button form__submit-button" ><a class="form__submit-link" href="job_listing">Submit</a></button>
    <a class="form__bottom-link" href="forgot_password">Forgot password?</a>    
</form>
