<link rel="stylesheet" href="../styles/navbar.css" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
<header>
    <img src="../images/profile.png" class="header__logo" alt="Get-that-job logo">
    <h2 class="header__title">Get That Job</h2>
    <nav class="header-navbar">
        <ul class="header-navbar__sections">
            <li class="navbar__section"><a href="#">Help</a></li>
            <li class="navbar__section"><a href="#">Companies</a></li>
            <li class="navbar__section"><a href="#">Jobs</a></li>
        </ul>
    </nav>
    <button class="header__button header__button--sign-in"  >sign in</button>
    <button class="header__button header__button--registration">Create an account</button>
</header>


<button></button>


