<header>
    <div class="header-container">
        <div class="header-elements-left"> 
            <img src="../images/profile.png" class="header__logo" alt="Get-that-job logo">
            <h2 class="header__title">Get That Job</h2>
        </div>
        <div class="header-elements-right">
            <nav class="header-navbar">
                <ul class="header-navbar__sections">
                    <li class="navbar__section"><a href="faq">Help</a></li>
                    <li class="navbar__section"><a href="#">Companies</a></li>
                    <li class="navbar__section"><a href="job_listing">Jobs</a></li>
                </ul>
            </nav>
            <button class="header__button header__button--sign-in"><a class="sign-in-link" href="login">Sing in</a></button>
            <button class="header__button header__button--registration"><a  class="registration-link" href="sign_up">Create an account</a></button>
        </div>
    </div>    
</header>



