.message {
    margin-top: 132px;
    margin-right: auto;
    margin-left: auto;
    font-family: Nunito;
    color: #262626;
    text-align: center;
}

.message__title {
    line-height: 44px;
    margin-bottom: 19px;
}

.message__description {
    font-size: 16px;
    line-height: 24px;

}


@media only screen and (max-width: 768px) {
    .message__title {
        font-size: 26px;
    }
    .message__description{
        font-size: 13px;
    }
}