*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hero {
    background-color: #F7FAFC;
}
.hero-content {
    max-width: 1023px;
    font-family: "Nunito", sans-serif;
    font-style: normal;
    color: #000000;
    margin: auto;
    display: flex;
}   
.hero-text {
    margin-top: 15%;
    width: 51.9%
}

.hero-title {
    font-weight: bold;
    font-size: 46px;
    line-height: 63px;
    width: 68%;
    margin-bottom: 20px;
}

.hero-description {
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    width: 100%;
    margin-bottom: 20px;
}

.hero-btn {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 13px;
    line-height: 18px;
    background-color: #3C2Dff;
    border: 2px solid #3C2Dff;
    border-radius: 4px;
    padding: 1.5% 3.3%;
    width: 44.6%;
}

.hero-img {
    width: 48.09%;
}

@media screen and (max-width:768px) {

    .hero {
        width: 100%;
    }
    .hero-content {
        width: 100%;
    }
    .hero-title {
        font-size: 20px;
        line-height: 18px;
        width: 85%;
    }

    .hero-description {
        display: none;
    }

    .hero-btn {
        font-size: 8px;
    }

    .hero-text {
        text-align: center;
        
    }

}